<!-- <!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
</html> -->
<!DOCTYPE html>
<html>

<head>
  <title>Projeto MATD02: Estacionamento</title>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Projeto MATD02: Estacionamento - 2021.2">
  <meta name="author" content="Airton, Virginia, Hérson">

  <link type="image/x-icon" rel="shortcut icon" href="/images/icon.png">
  <link type="text/css" rel="stylesheet" href='/stylesheets/global.css'>
</head>

<body>
  <div class="container" id="container">
    <nav>
      <h1>Estacionamento Inteligente</h1>
      <img src="/images/icon.png" />
    </nav>
    <div class="content" id="content"></div>
  </div>
  <script src="/socket.io/socket.io.js"></script>
  <script type="text/javascript" src='/javascripts/app.js'></script>
</body>

</html>